:root {
	--color-black: #1f1c26;
	--color-black-shadow: #120e17;
	--color-yellow: #FFED4A;
	--header-height: 80px;
}

header {
	align-items: center;
	background: var(--color-black);
	box-shadow: 0px 1px 3px var(--color-black-shadow);
	display: flex;
	height: var(--header-height);
	left: 0;
	justify-content: space-between;
	padding: 0 30px;
	position: fixed;
	right: 0;
}

header h6 {
	color: white;
	font-family: "Alegreya Sans";
	font-size: 32px;
	line-height: 33px;
	border-bottom: 3px solid var(--color-yellow);
	border-radius: 3px;
}

header nav {
	display: flex;
}

header nav a {
	color: white;
	font-family: "Open Sans";
	font-size: 16px;
	margin-right: 50px;
}

header nav a:hover {
	color: var(--color-yellow);
}

main {
	padding-top: var(--header-height);
}

main section.hero-image {
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 420px;
	overflow: hidden;
}
